@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/*----------------------------------------------------------------
	Branding Colour
----------------------------------------------------------------*/
h2 {
    line-height: 45px;
	font-size: 40px;
}
h1, h2, h3, body{
    color: #242424;
}
#banner h1, #banner p{
    text-shadow: 0 0.075em 0.075em rgba(0, 0, 0, 0.5);}
#services p, #banner h1, #banner p, table a, table a:hover{
    color: #fff;
}
 #header2a:before{
 	color: #80c342;
 }
#header2a a,header span, #header2b a,header a:hover {
	color: #123d8f;
}
#services h3 {
    color: #b2f278;
}
h3, h2, #services h3{
    font-weight: 600;
}
.formbuilder-form label{
	font-weight:400;
}

h1, table a, #banner p, .formbuilder-form label, h2, h3, h4, .btn, .formbuilder-form input#submit-form,.formbuilder-form input#submit-form:hover, .formbuilder-form input#submit-form:focus, .formbuilder-form input#submit-form:active, .open>.dropdown-toggle.btn , #extraFormsContainer .modal-dialog .formbuilder-form input#submit-form, #extraFormsContainer .modal-dialog .formbuilder-form input#submit-form:hover, #extraFormsContainer .modal-dialog .formbuilder-form input#submit-form:focus, #extraFormsContainer .modal-dialog .formbuilder-form input#submit-form:active, .open>.dropdown-toggle.btn {
    text-transform: uppercase;}
#header2b a, table a,.btn, .btn:hover, .btn:focus, .btn:active, .btn.active, .open>.dropdown-toggle.btn, .formbuilder-form input#submit-form,.formbuilder-form input#submit-form:hover, .formbuilder-form input#submit-form:focus, .formbuilder-form input#submit-form.active, .open>.dropdown-toggle.btn , #extraFormsContainer .modal-dialog .formbuilder-form input#submit-form, .formbuilder-form input#submit-form:hover, .formbuilder-form input#submit-form:focus, .formbuilder-form input#submit-form:active, .formbuilder-form input#submit-form.active, .open>.dropdown-toggle.btn, #extraFormsContainer .modal-dialog .formbuilder-form input#submit-form:hover, #extraFormsContainer .modal-dialog .formbuilder-form input#submit-form:focus, #extraFormsContainer .modal-dialog .formbuilder-form input#submit-form:active, .open>.dropdown-toggle.btn, #contact2f, #contact2e, .contact_detail a, .contact_detail a:hover, .contact_detail a:focus {
    text-decoration: none;}
    
/*----------------------------------------------------------------
- Form -*/
.form, #contact_form_form, #extraFormsContainer .modal-dialog {
	border-radius: 5px;
	background-color: rgb(36, 36, 36);
	/* background-image: url(../uploads/images/BG.jpg); */
	}

/*----------------------------------------------------------------
- Buttons -*/
.btn{
    color: #fff;
    background-color: #80c342;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    border-radius: 35px;
    text-shadow:none;
    font-weight: 700;}
.formbuilder-form input#submit-form, #extraFormsContainer .modal-dialog .formbuilder-form input#submit-form  {
    color: #fff;
    background-color: #80c342;
    font-weight: 700;
    border-radius: 15px;}
@media (min-width: 711px) {
.btn:hover, .btn:focus, .btn:active, .btn.active, .open>.dropdown-toggle.btn{
    color:  #fff;
    text-shadow:none;
    background: rgba(61, 155, 233, 1);
    font-weight: 700;
    transition: all 200ms ease-in;
    transform: scale(1.1);}
}
.formbuilder-form input#submit-form:hover, #extraFormsContainer .modal-dialog .formbuilder-form input#submit-form:hover  {
    background-color: #fff;
    color:  rgba(61, 155, 233, 1);
    z-index: 2;
    transition: all 200ms ease-in;
    transform: scale(1.1);
}
/*----------------------------------------------------------------
	Custom Styles
----------------------------------------------------------------*/

/*----------------------------------------------------------------
- Font Family -*/
h1, h2, h3, h4,.btn, .formbuilder-form input#submit-form, #extraFormsContainer .modal-dialog .formbuilder-form input#submit-form {
	font-family: 'Exo 2', Arial, Helvetica, sans-serif;}

/*----------------------------------------------------------------
- Header -*/
#header{
    border-bottom: 5px solid #80c342;
    padding: 0px;
}
#header1 img{
    padding-top:25px;
}
#header2b {
    line-height:15px;
    font-size: 26.5px;
}
#header2{
    padding-bottom:10px;
}
#header2a {}
#header2a:before{}
    
/*----------------------------------------------------------------
- Banner -*/
#banner h1 {
    font-size: 60px;
}
#banner p {
	font-weight: 400;
}
#banner img {
	display: block;
	margin-left: auto;
	margin-right: auto;
    border-radius:20px;
    border: 5px outset #092c7d;
}
.banner_cover {
    opacity: 0.4;
    background-color:#000;}
#content {
	padding: 50px 0 50px 0;
}
/*----------------------------------------------------------------
- Services -*/
#service1,#service2,#service3,#service4{
    transition: 0.2s 0.2s ease-out;
    padding: 25px 10px 25px 10px;}
#service1:hover,#service2:hover,#service3:hover,#service4:hover{
    transform: scale(1.1);
    background:rgba(255, 255, 255, 0.3);}

/*----------------------------------------------------------------
    Gallery*/
#gallery img {
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;}
#gallery1 p, #gallery, #gallery .container {
    padding: 0;
    margin-bottom :0;}
#gallery1, #gallery p > img, #gallery p > a, #gallery p.gallery1 > a, #gallery p.gallery1 > img {
    -webkit-box-flex: 0 0 100%;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding:0;}
 @media only screen and (min-width: 767px){
    #gallery p > img, #gallery p > a, #gallery p.gallery1 > a, #gallery p.gallery1 > img {
        -webkit-box-flex: 0 0 33.333%;
        -webkit-flex: 0 0 33.333%;
        -ms-flex: 0 0 33.333%;
        flex:  0 0 33.333%;
        max-width: 33.333%;
        margin-bottom: 0px;}
}
@media only screen and (max-width: 767px) and (min-width: 0px)  {
    #gallery p img, #gallery p.gallery3 img, #gallery p.gallery4 img, #gallery p.gallery5 img, #gallery p.gallery6 img {
        -webkit-box-flex: 0 1 100%;
        -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
        flex: 0 1 100%;
        max-width: 100%;}
    #gallery img {
        width: 95%}
}
#gallery img ,#gallery1 p, #gallery, #gallery .container, #gallery img, #content img{width:100%;}
#gallery .row, #gallery1, #gallery p > img, #gallery p > a, #gallery p.gallery1 > a, #gallery p.gallery1 > img {margin: 0;}

#gallery img:hover {
  opacity: 0.3;
}
#td{
	font-weight:500;
	line-height:20px;
	background-color: #80c342;
	color: #fff;
	text-align: center;
	padding: 5px 0 5px 0;
}
/*----------------------------------------------------------------
    Footer
----------------------------------------------------------------*/
footer *, footer a , footer {
    color: #fff;}
footer {
    background-color: #242424;
    padding: 25px 0 25px;}
/*----------------------------------------------------------------
	Hide Blocks
----------------------------------------------------------------*/
#content2b,#contact{display:none;}
@media only screen and (max-width: 767px) and (min-width: 0px)  {  
    #header {padding: 20px 0 15px 0;}
    #header1 img{padding-top:0px}
    #service1:hover,#service2:hover,#service3:hover,#service4:hover{transform: scale(1.0);}
}
@media only screen and (max-width: 690px) and (min-width: 0px) {#banner h1 {font-size: 50px;}}
@media (max-width: 350px) {.btn{width:100%;word-wrap: break-word;}}
@media (min-width: 0px) {.btn {margin-top: 10px;}}
@media (max-width: 767px) {#service3 {clear:left }} 

